{% extends  "base.html" %}
{% block title %}Log In{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card bg-light border-dark col-md-6">
            <div class="card-body col-md-10">
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="sumbit" class="btn btn-primary">Log In</button>
                </form>
            </div>
            <div class="card-footer bg-light text-center">
                <p>Don't have an account? Create one <a href="{% url 'register' %}">here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}