{% extends  "base.html" %}
{% block title %}Log In{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card bg-light border-dark col-md-6">
            <div class="card-body col-md-10">
                <legend class="border-bottom mb-3">Log In</legend>
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a href="{% url 'ims:reset-password' %}">
                        <p>Forgot your password?</p>
                    </a>
                    <button type="sumbit" class="btn btn-primary">Log In</button>
                </form>
            </div>
            <div class="card-footer bg-light text-center">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}