* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F3F4F3;
}

header {
  padding-bottom: 1em;
}

header span {
  font-weight: 400;
  color: white;
}

header li {
  color: white;
}

div.section {
  margin: 1em 0;
}

div.inventory-body {
  display: flex;
  margin-bottom: 10em;
}

div.card-header {
  padding: 1rem;
}

div.card-body {
  padding: 1rem;
}

div.card-body h5 {
  padding: 1.5rem 0rem;
}

div.card-footer p {
  font-weight: 700;
}

div.card-footer div.checking-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  margin: 0 auto;
}

div.checking-buttons button {
  max-width: 10em;
  max-height: 5em;
  font-weight: bold;
  text-align: center;
}

div.checking-buttons button svg {
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 2em;
}

div.list-group button {
  margin: .5em 0;
}

div.modal-body {
  width: 75%;
}

forms button {
  text-align: left;
}

div.jumbotron div.landing-page-icon img {
  align-content: right;
  width: 5em;
  height: 5em;
}
