* {
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #1D1D1D;
  background: linear-gradient(25deg, #1d1d1d 59%, #0b6e4f 95%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  padding-bottom: 2rem;
}

header {
  padding-bottom: 1em;
}

header span {
  font-weight: 400;
  color: white;
}

header li {
  color: white;
}

footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30%;
  text-align: end;
}

footer div.footer-div {
  bottom: .5rem;
  right: 1rem;
  position: absolute;
}

footer div.footer-div img {
  z-index: -1;
  width: 100%;
}

.navbar-custom {
  background-color: #111111;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-text, .navbar-custom .nav-link {
  color: white;
}

div.section {
  margin: 1em 0;
  color: white;
}

span.bold-font {
  font-weight: 700;
}

div.inventory-body {
  display: flex;
  margin-bottom: 8em;
}

div.card-header {
  padding: 1rem;
}

div.card-body {
  padding: 1rem;
}

div.card-body h5 {
  padding: 1.5rem 0rem;
}

div.card-footer p {
  font-weight: 700;
}

div.checking-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 1em;
  margin: 0 auto;
}

div.checking-buttons button {
  max-width: 10em;
  max-height: 5em;
  font-weight: bold;
  text-align: center;
}

div.checking-buttons button span.button-label {
  line-height: 80%;
}

div.checking-buttons button svg {
  height: 3em;
  width: 2em;
}

div.checking-buttons button div.button-icons {
  display: inline;
}

@media (max-width: 1200px) {
  div.checking-buttons button div.button-icons {
    display: none;
  }
}

#myItemListHeading p {
  font-weight: 700;
}

div.list-group {
  width: max-content;
}

div.list-group a {
  margin: .7em 0;
}

div.modal-body {
  width: 75%;
}

forms button {
  text-align: left;
}

div.home-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

@media (min-height: 1365px) {
  div.home-div {
    margin-top: 12rem;
  }
}

div.home-div h1 {
  font-size: 3.5rem;
  justify-content: start;
  margin: 15rem 0 5rem;
}

@media (max-width: 1024px) {
  div.home-div h1 {
    margin: 7rem 0 3rem;
  }
}

div.home-div h3, div.home-div h4, div.home-div h5 {
  text-align: center;
  margin-bottom: 5rem;
}

div.home-div div.home-button-div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

div.home-div div.home-button-div button {
  padding: .2rem;
  margin-bottom: 1rem;
}
