*
    font-family: 'Noto Sans JP', sans-serif !important
body
    background-color: #F2F2F2
    
header
    padding-bottom: 3rem
.div.card
    display: flex
    mx-auto
    padding: 20rem
div.card-header
    padding: 1rem
div.card-body
    padding: 1rem
    div.checking-buttons
        display: flex
        justify-content: space-around
        align-items: center
        padding: 1rem 
        margin: 0 auto
    h5
        padding: 1.5rem 0rem 
          
div.card-footer
    p
        font-weight: bold  
button.btn
    max-width: 20%
    min-width: 19% 
    font-size: 1.1rem
    font-weight: bold
    text-align: center
    .bi
        justify-content: center
        height: 15%
        width: 15%
form
    button.btn-outline-danger
        align-items: right

