{% extends 'base.html' %}
{% block title %}My Items{% endblock %}
{% block content %}    
    <h3><strong>My Items:</strong> {{ user.first_name }} {{ user.last_name }} </h3>
    <div class="accordion" id="myItemListAccordion">
        {% if my_item_list %}
            {% for item in my_item_list %}
            <div class="accordion-item">
                <h4 class="accordion-header" id="myItemListHeading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#detailCollapse{{item.id}}" aria-expanded="true" aria-controls="collapseOne">
                        <strong>{{ item.item_name }}</strong>
                    </button>
                </h4>
                <div id="detailCollapse{{item.id}}" class="collapse" aria-labelledby="myItemListHeading" data-parent="#myItemListAccordion">
                    <div class="card-body">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th scope="row">Category</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Serial</th>
                                    <th scope="col">Check Out Date</th>
                                    <th scope="col">Specs</th>
                                </tr>
                            </thead>
                                <tbody>
                                <tr>
                                    <td>{{ item.item_category }}</td>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.item_unique_identifier|default_if_none:"" }}</td>
                                    <td>{{ item.checked_out_date|date:"n/j/Y" }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary rounded" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content='Testing Testing'>
                                            Item Specs
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h3>Current user does not have any items checked out</h3>
        {% endif %}           
    </div>
{% endblock %}